.Main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
    font-weight: bold;
    text-align: center;
}

.Main-content > span > div {
    margin-top: 8px;
}