.App-header {
  font-size: 10vh;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  background-color: white;
  border: none;
  height: 1px;
  width: 85%;
}